/*
 * HEADER
 */
header.header-wrapper {
  background: white;
}
div.header-wrapper__logo {
  padding-left: 1.5em!important;
  padding-right: 1.5em!important;
  align-items: center;
  background: $puerto-rico;
  color: white;
  text-transform: uppercase;
  font-size: 1.7em;
  font-family: $paytone-one;
  font-weight: 500;
}
div.header-wrapper__functionality {
  flex-grow: 1;
  border-bottom: 2px solid $mercury;
}
div.header-wrapper__functionality > div{
  padding: .5em 1.3em;
}
div.header-wrapper__search {
  flex-grow: 4;
  align-items: center;
  padding-left: 3em!important;
}
div.header-wrapper__search-inner { 
  flex: .8;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  background: $gallery;
  input {
    flex: 1;
    background: $gallery;
    padding: .8em;
    padding-left: 1.5em;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  i {
    &.fa-chevron-down {
      display: inline-block;
      color: $loblolly;
      padding: .5em;
      margin-right: .2em;
      font-size: .8em;
    }
    &.fa-search {
      background: $loblolly;
      color: white;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: .5em 1em;
    }
  }
}
div.header-wrapper__create-new {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  button {
    display: block;
    background: $burnt-sienna;
    border: none;
    color: white;
    padding: .7em 2em;
    font-size: .75em;
    border-radius: 3px;
    font-weight: 600;
    i {
      float: right;
      margin-left: 10px;
    }
  }
}
div.header-wrapper__alerts {
  justify-content: space-around;
  align-items: center;
  background: $alabaster;
}
div.header-wrapper__alerts-icon {
  i {
    color: $gray;
    font-size: 1.4em;
  }
}
div.header-wrapper__alerts-user-icon {
  padding-left: 2.1em;
  padding-right: 2.1em;
}
div.header-wrapper__user {
  justify-content: flex-end;
  padding-left: 2em;
  padding-right: .8em!important;
  align-items: center;
}
div.header-wrapper__user-name {
  margin-right: 10px;
  span {
    font-size: .9em;
    font-weight: 600;
  }
}
.flex-block {
  display: flex;
}


/*
 * MAIN BODY CONTENT
 */

//navigation
nav.vertical-nav {
  background: $shark; 
  color: $spun-pearl;
  flex-direction: column;
  align-items: stretch;
}
nav.vertical-nav > div {
  padding-top: .7em;
}
nav.vertical-nav > div h3 {
  padding: 1.4em 2em .8em;
  border-bottom: 1px solid $mid-gray;
  color: $mid-gray;
}
div.vertical-nav__settings-items {
  flex: 1;
}
div.vertical-nav-bottom {
  flex: 1;
}
div.vertical-nav__main-items  {
  padding-top: 0px!important;
}
div.vertical-nav__main-items-toggle {
  border-bottom: 1px solid $mid-gray;
  h3 {
    flex: 1;
    padding-left: 2.7em!important;
    align-self: flex-end;
    border-bottom: none!important;
  }
  i {
    padding: 1em .5em;
    background: $shuttle-gray;
    transition: all .3s ease;
    &:hover {
      color: white;
      background: $loblolly;
    }
  }
}
li.vertical-nav__list-item { 
  padding: .7em 2.35em;
  display: flex;
  align-items: center;
  transition: all .3s ease;
  &:hover {
    color: white!important;
    background: $shuttle-gray;
    i {
      color: white;
    }
  }
  &:first-child {
    padding-top: 1.4em;
  }
  i {
    transition: all .3s ease;
    font-size: 1.4em;
    padding-right: .5em;
    color: $mid-gray;
  }
}

//dasboard
article.dashboard-block {
  flex: 1;
  background: $alabaster; 
}
article.dashboard-block h2 {
  padding: 1.5em;
}
section.dashboard-block__stats-components {
  justify-content: space-bewteen;
}
div.dashboard-block__component {
  flex: 1; 
  padding: 2em 1.4em;
  background: white;
  flex-wrap: wrap;
  justify-content: flex-start;
  &:not(:last-child) {
    border-right: 1px solid $alabaster;
  }
}
div.dashboard-block__component-cat-time {
  h3 {
    font-size: .35em;
    font-weight: bold;
  }
  span {
    font-size: .6em;
    font-weight: bold;
    color: $ghost;
  }
}
div.dashboard-block__component-icon {
  margin-right: 5px;
  i {
    padding: .2em .25em;
    outline: 1px solid $alabaster;
  }
}
div.dashboard-block__component-number {
  span {
    font-size: 4em;
    font-weight: 300;
  }
}

div.dashboard-block__message-board {
  padding-left: 3em;
  padding-right: 3em;
}
div.dashboard-block-header-container {
  padding: 1.5em;
  background: white;
  border: 1px solid $mercury;
}
div.dashboard-block-header-container__user-data {
  align-items: center;
  margin-bottom: .7em;
}
div.dashboard-block-header-container__user-data-meta {
  margin-left: .5em;

  span {
    display: block;
    &:fist-child {
      color: $shark;
      font-weight: 600;
      font-size: .8em;
    }
    &:nth-child(2) {
      color: $silver;
      font-weight: 600;
      font-size: .8em;
    }
  }
}
div.dashboard-block-header-container__board-text-block {
  p {
    font-size: .9em;
    color: $oslo-gray;
    font-weight: 500;
    line-height: 1.4em;
  }
}
div.dashboard-block__message-board-post-img {
  img {
    width: 100%;
  };
}
div.dashboard-block__message-board-view-comments {
  span {
    display: block;
    padding: 1em 1.8em;
    color: $shark;
    font-weight: 600;
    font-size: .8em;
    border-bottom: 1px solid white;
  }
}

div.dashboard-block__message-board-post-comment-img {
  padding: 1em 1.5em; 
}

//sidebar
sidebar.sidebar-block {
  flex: .33;
  background: $gallery;
}











