header.header-wrapper {
  background: white;
  border-bottom: 2px solid $mercury;
}
header.header-wrapper > div {
  padding: .6em 1.3em;
}
div.header-wrapper__logo {
  padding-left: 2.5em!important;
  padding-right: 2.5em!important;
  align-items: center;
  background: $puerto-rico;
  color: white;
  text-transform: uppercase;
  font-size: 1.7em;
  font-family: $paytone-one;
  font-weight: 500;
}
div.header-wrapper__search {
  flex-grow: 5;
  align-items: center;
  padding-left: 2em!important;
}
div.header-wrapper__search-inner { 
  flex: .9;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  background: $gallery;
  input {
    background: $gallery;
    flex: .9;
    padding: .8em;
    padding-left: 1.5em;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  i {
    &.fa-search {
      background: $loblolly;
      color: white;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: .5em 1em;
    }
    &.fa-chevron-down {
      display: inline-block;
      color: $loblolly;
      padding: .5em;
      font-size: .8em;
    }
  }
}
div.header-wrapper__create-new {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  button {
    display: block;
    background: $burnt-sienna;
    border: none;
    color: white;
    flex: .7;
    padding: .8em 0;
    font-size: .75em;
    border-radius: 3px;
    font-weight: 600;
    i {
      float: right;
      margin-right: 10px;
    }
  }
}
div.header-wrapper__alerts {
  flex: 1.7;
  justify-content: space-around;
  align-items: center;
  background: $gallery;
}
div.header-wrapper__alerts-icon {
  i {
    color: $gray;
    font-size: 1.4em;
  }
}
div.header-wrapper__alerts-user-icon {
  padding-left: 2.8em;
  padding-right: 2.8em;
}
div.header-wrapper__user {
  align-items: center;
}
div.header-wrapper__user-name {
  margin-right: 10px;
  span {
    font-size: .9em;
    font-weight: 600;
  }
}
div.header-wrapper__user-img {
  img {
    border-radius: 50%;
    width: 50px;
  }
}
