/*base styles*/
* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  min-height: 100%;
  @include font-smoothing();
}
body {
  font-size: 100%;
  font-family: $open-sans; 
  font-weight: 300; 
}
h1, .h1 {
}
h2, .h2 {
  color: $shark;
  font-size: 2em;
  font-weight: 500;
}
h3, .h3{
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
}
img.user-avatar {
  border-radius: 50%;
  width: 55px;
  &.small {}
  &.user-comment{
    width: 45px;
  }
  &.user-reply{
    width: 35px;
  }
}
.flex-block {
  display: flex;
}

