@import url('https://fonts.googleapis.com/css?family=Anton|Candal|Oswald|Paytone+One|Lato:300,300i,400|Open+Sans:300,400,600,600i,700,800');
@import url('https://fonts.googleapis.com/css?family=Anton');

$open-sans: 'Open Sans', sans-serif;
$anton: 'Anton', sans-serif;
$candal: 'Candal', sans-serif;
$oswald: 'Oswald', sans-serif;
$paytone-one: 'Paytone One', sans-serif;
$lato: 'Lato', sans-serif;