@import url('https://fonts.googleapis.com/css?family=Open+Sans|Anton|Candal|Oswald|Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Anton');

$open-sans: 'Open Sans', sans-serif;
$anton: 'Anton', sans-serif;
$candal: 'Candal', sans-serif;
$oswald: 'Oswald', sans-serif;
$paytone-one: 'Paytone One', sans-serif;

.fa.fa-check {
  // color: $gulf-stream;
}