<div class="dashboard-block__message-board-inner" ng-repeat="user in users">
  <div class="dashboard-block__message-board dashboard-block-header-container">
    <div class="dashboard-block-header-container__user-data flex-block">
      
      <div class="dashboard-block-header-container__user-data-img">
        <img ng-src="../../assets/img/thumbnails/{{ user.img }}.jpg" class="user-avatar" alt="{{ user.name }}">
      </div>
      
      <div class="dashboard-block-header-container__user-data-meta">
        <span>{{ user.name }}</span>
        <span>{{ user.messageData.owner.post_time }}</span>
      </div> 
    </div>

    <div class="dashboard-block-header-container__board-text-block">
      <p>
        {{ user.messageData.owner.message }}
      </p>
    </div>
  </div> 

  <div class="dashboard-block__message-board-post-img" ng-if="user.messageData.owner.post_img">
    <img ng-src="../../assets/img/posts-images/{{ user.messageData.owner.post_img }}.jpg" alt="{{ user.messageData.owner.post_img }}">
  </div>

  <div class="dashboard-block__message-board-view-comments">
    <span>
      View 18 more comments
    </span>
  </div>

  <div class="dashboard-block__message-board-post-comment flex-block">
    <div class="dashboard-block__message-board-post-comment-img" ng-if="user.messageData.replier.img">
      <img ng-src="../../assets/img/thumbnails/{{ user.messageData.replier.img }}.jpg" class="user-avatar user-comment" alt="{{ user.messageData.replier.img }}">
    </div>
    <div class="dashboard-block__message-board-post-comment-text-and-name">
      <span>
        {{ user.messageData.replier.name }}
      </span>
      <span>
        {{ user.messageData.replier.message }}
      </span>
    </div>
    <div class="dashboard-block__message-board-post-comment-input">
      <div class="dashboard-block__message-board-post-comment-input-img" ng-if="focused">
        <img ng-src="../../assets/img/thumbnails/{{ user.messageData.owner.img }}.jpg" class="user-avatar user-reply" alt="{{ user.messageData.owner.name }}">
      </div>
      <div>
        <textarea type="text" 
                  ng-style="{ height: focused ? '100px' : '35px'}"
                  placeholder="Add your comment..."
                  ng-focus="focused=true"
                  ng-blur="focused=false"></textarea>
      </div>
      
    </div>
    <div class="dashboard-block__message-board-post-comment-buttons" ng-if="focused">
      <button>Post Comment</button>
      <button>Cancel</button>
    </div>
  </div>
</div>



